body {
    font-family: font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing:border-box;
    flex-wrap: wrap;
} 
html {
    --primary-color1: #fafafa;
     --primary-color2:#0c4a6e;
     --primary-color3:#075985;
     --primary-color4:#0369a1;
     --primary-color5:#0284c7;
     --primary-color6:#0ea5e9;
     --primary-color7:#38bdf8;
     --primary-color8:#7dd3fc;
     --primary-color9:#bae6fd;
     --primary-color10:#e0f2fe;
     --primary-color11:#f0f9ff;
     --primary-color12:#f5f5f5;
     --primary-color13:#525252;
     --primary-color14:#737373;
     --primary-color15:#a3a3a3;
     --primary-color16:#d4d4d4;
    }

    
    .background-nav {
        width: 100%;
        background-color: var(--primary-color4);
    }
    .hat {
        display: flex;
        flex-direction: row;
        max-width: 1024px;
        width:calc(100%/2);
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .logo {
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    .nav {
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 14px;
        gap: 20px;
        cursor: pointer;
    }
    .background {
        background-image: url("images/hero.png");
        background-size: cover;
        background-position: top center;
        width: 100%;
    }
    .header {
        max-width: 1024px;
        width:calc(100%/2); 
        margin: 0 auto;
    }
    .color-mix {
        padding-top: 80px;
        width: 70%;
    }
    .title-header {
       font-weight: 600;
       font-size: 40px;
       padding-top: 100px; 
    } 
    
.dento {
    color: var(--primary-color4);
    font-weight: 600;
    font-size: 40px;
}
.header-text {
    width: calc(100%/2);
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color2);
    padding-top: 20px;
    margin: 0 auto;
}
.text {
    width: 350px;
}
.header-button {
    border: 1px solid var(--primary-color6);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(167, 166, 165);
    background: var(--primary-color6);
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 50px;
    cursor: pointer;
    margin-bottom: 20px;
}   
.header-button:hover {
    background: var(--primary-color2);
    border: 1px solid var(--primary-color2);
}
.button-box {
   margin: 0 auto;
   width: calc(100%/2);
   padding-top: 20px;
}
.service {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.service-title {
    max-width: 1024px;
    color: var(--primary-color4);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px; 
}
.background-main {
    background-color: var(--primary-color5);
    width: 100%;
}
.box-window {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
}
.icon {
    color: white;
    font-size: 24px;
    font-weight: 200;
    padding-top: 100px;
}
.service3 {
    background-image: url(images/service-3.png);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;  
    box-shadow: 0px 4px 4px var(--primary-color2);
}
.service2 {
    background-image: url(images/service-2.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--primary-color2);
}
.service1 {
    background-image: url(images/service-1.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--primary-color2);
}
.box-text {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #7dd7fd65;
}
.service-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    width: 70%;
    padding: 10px 0px 20px 10px;
    gap: 70px;
}
.pointer {
    color: white;
    font-size: 70px;
    padding-top: 70px;
}
@media (max-width:768px) {
    .color-mix {
        width: 100%;
    }
    .hat {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .service-title {
        padding-top: 40px;
    }
    .background-main {
        height: 200px;
        overflow: scroll;
    }
    .box-window {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pointer {
        display: none;
    }

}
@media (max-width: 600px) {
.header {
    width: 100%;
    margin-left: 10px;
}
.title-header {
   font-size: 36px; 
}
.header-text {
    flex-wrap: wrap;
    width: 100%;
}
.text {
  margin-left: 10px;  
}
.nav {
    gap: 10px;
}
}